{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1>Add expenses</h1>
    <div class="row">
        <div class="col"></div>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="Categories">Categories</label>
                    <select class="form-control" id="Categories">
                        <option value="fake_value">Fake value</option>
                        <option value="fake_value">Fake value2</option>
                        <option value="fake_value">Fake value3</option>
                        <option value="fake_value">Fake value4</option>
                        <option value="fake_value">Fake value5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input type="number" class="form-control" id="Amount" placeholder="Amount">
                </div>
                <div class="form-group">
                    <label for="name">Date</label>
                    <input type="date" class="form-control" id="Date" placeholder="Date">
                </div>
            </form>
        <div class="col"></div>
    </div>
</div>

{% endblock %}