{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1 class="m-4">
        Statistics
        <p class="lead">Total Expendatures: {{ "$%.2f"|format(total_spent) }}</p>
    </h1>

    <div class="row">
        <div class="col-3">
            <canvas id="category_spending" height="600px" max-height="600px"></canvas>
        </div>

        <div class="col-1"></div>

        <div class="col-3">
            <canvas id="top_expenses" height="450px" max-height="450px"></canvas>
        </div>
    </div>
</div>

<style>
    html {
        overflow: hidden;
    }
    
</style>

<script>
    const category_spending_elem = document.getElementById("category_spending").getContext("2d")
    const category_spending_chart = new Chart(category_spending_elem, {
        type: "doughnut",
        data: {
            labels: {{ category_spending['labels']|safe}},
            datasets: [
                {
                    label: "Category Spending",
                    data: {{ category_spending['values']|safe }},
                    borderColor: "rgb(25,25,112)",
                    backgroundColor: [
                        'rgba(30,144,255)',
                        'rgba(255,0,0)',
                        'rgba(127,255,212)',
                        'rgba(255,105,180)',
                        'rgba(123,104,238)',
                        'rgba(147,112,219)',
                        'rgba(244,164,96)'
                    ],
                }
            ]
        },
        options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Spent per Category'
                    }
                }
            }
    });

    const top_expenses_elem = document.getElementById("top_expenses").getContext("2d")
    const top_expenses_chart = new Chart(top_expenses_elem, {
        type: "bar",
        data: {
            labels: {{ top_expenses['labels']|safe }},
            datasets: [
                {
                    label: "Expense Amount",
                    data: {{ top_expenses['values']|safe }},
                    borderColor: [
                        'rgb(0,0,205)',
                        'rgb(139,0,0)',
                        'rgb(72,209,204)',
                        'rgb(199,21,133)',
                        'rgb(75,0,130)',
                        'rgb(165,42,42)',
                        'rgb(184,134,11)'
                    ],
                    backgroundColor: [
                        'rgba(30,144,255)',
                        'rgba(255,0,0)',
                        'rgba(127,255,212)',
                        'rgba(255,105,180)',
                        'rgba(123,104,238)',
                        'rgba(240,128,128)',
                        'rgba(244,164,96)'
                    ],
                    borderWidth: 1 
                }
            ]
        },
        options: {
                plugins: {
                    title: {
                        display: true,
                        text:'Top 10 Expenses'
                    }
                }
            }
    });
</script>
{% endblock %}