{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1 class="m-4">
        <div class="row">
            <div class="col-10">
                Statistics
                <p class="lead">
                    {% if date is defined %}
                        Total Expendatures (month of {{ date }}): {{ "$%.2f"|format(total_spent) }}
                    {% else %}
                        Total Expendatures: {{ "$%.2f"|format(total_spent) }}
                    {% endif %}
                    <br>
                    Average Expense Amount: {{ "$%.2f"|format(average_expense_amount) }}
                </p>
            </div>
            <div class="col-2">
                <label for="month" class="form-label">Month</label>
                <input type="text" class="form-control" id="month" name="month" value="{{ date if date is defined }}">
            </div>
        </div>
    </h1>

    <div class="row">
        <div class="col-5">
            <canvas id="category_spending" height="600px" max-height="600px"></canvas>
        </div>

        <div class="col-2"></div>

        <div class="col-5">
            <canvas id="top_expenses" height="450px" max-height="450px"></canvas>
        </div>
    </div>
</div>

<style>
    html {
        overflow: hidden;
    }
</style>

<script>
    $("#month").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
    });

    $("#month").on('changeDate', function (event) {
        window.location.href = '{{ statistics_url }}' + '?date=' + event.format();
    });

    const category_spending_elem = document.getElementById("category_spending").getContext("2d")
    const category_spending_chart = new Chart(category_spending_elem, {
        type: "doughnut",
        data: {
            labels: {{ category_spending['labels']|safe}},
            datasets: [
                {
                    data: {{ category_spending['values']|safe }},
                    borderColor: "rgb(25,25,112)",
                    backgroundColor: [
                        'rgba(30,144,255)',
                        'rgba(255,0,0)',
                        'rgba(127,255,212)',
                        'rgba(255,105,180)',
                        'rgba(123,104,238)',
                        'rgba(147,112,219)',
                        'rgba(244,164,96)'
                    ],
                }
            ]
        },
        options: {
                plugins: {
                    title: {
                        display: true,
                        text: 
                            {% if date is defined %}
                                'Spent per Category (month of {{ date }})'
                            {% else %}
                                'Spent per Category'
                            {% endif %}
                    }
                }
            }
    });

    const top_expenses_elem = document.getElementById("top_expenses").getContext("2d")
    const top_expenses_chart = new Chart(top_expenses_elem, {
        type: "bar",
        data: {
            labels: {{ top_expenses['labels']|safe }},
            datasets: [
                {
                    label: "Expense Amount",
                    data: {{ top_expenses['values']|safe }},
                    borderColor: [
                        'rgb(0,0,205)',
                        'rgb(139,0,0)',
                        'rgb(72,209,204)',
                        'rgb(199,21,133)',
                        'rgb(75,0,130)',
                        'rgb(165,42,42)',
                        'rgb(184,134,11)'
                    ],
                    backgroundColor: [
                        'rgba(30,144,255)',
                        'rgba(255,0,0)',
                        'rgba(127,255,212)',
                        'rgba(255,105,180)',
                        'rgba(123,104,238)',
                        'rgba(240,128,128)',
                        'rgba(244,164,96)'
                    ],
                    borderWidth: 1 
                }
            ]
        },
        options: {
                plugins: {
                    title: {
                        display: true,
                        text: 
                            {% if date is defined %}
                                'Top 10 Expenses (month of {{ date }})'
                            {% else %}
                                'Top 10 Expenses'
                            {% endif %}
                    }
                }
            }
    });
</script>
{% endblock %}