{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1 class="m-4">Statistics</h1>
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <canvas id="category_spending" width="900" height="400"></canvas>
        </div>
        <div class="col"></div>
    </div>
</div>

<style>
    html {
        overflow: hidden;
    }
</style>

<script>
    let graph = document.getElementById("category_spending").getContext("2d")
    let line = new Chart(graph, {
        type: "bar",
        data: {
            labels: {{ category_spending['labels']|safe }},
            datasets: [
                {
                    label: "Category Spending",
                    data: {{ category_spending['values']|safe }},
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
    });
</script>
{% endblock %}