version: 2.1

orbs:
  python: circleci/python@1.2

workflows:
  sample:
    jobs:
      - build-and-test


jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.8
      - image: circle/mongo:4.4
        environment:
          MONGO_USERNAME: mongouser
          MONGO_PASSWORD: mongopass
    steps:
      - run:
          name: MongoDB Install
          command: |
              sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 9DA31620334BD75D9DCB49F368818C72E52529D4
              echo "deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.0.list
              sudo apt-get update
              sudo apt-get install -y mongodb-org-shell
      # - setup_remote_docker
      - run: 
          name: Waiting for Mongo
          command: dockerize -wait tcp://localhost:27017 -timeout 1m
      - checkout
      - python/install-packages:
          pkg-manager: pip
      # - run: 
      #     name: Get Versions
      #     command: |
      #         node -v
      #         npm -v
      #         mongo -v
      #         mongo localhost --eval "db.version()"
      - run:
          name: Run tests
          # This assumes pytest is installed via the install-package step above
          command: pytest
